.open-button{
    background-color: darkgray;
    
}
.form-popup{
    display: none;
    border: 10px;
}
.form-container{
    background-color: deepskyblue;
    width: 30%;
    border: 10px;
    border-color: black;
}
table{ border-collapse: collapse;}
table tr td{
    border: 1px solid #000;
    padding: 10px;
}
table tr:nth-child(odd) {background-color: gray;}